.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  font-size: 20px;
  align-items: center;
  list-style-type: none;
  background-color: #a3c4e8;
  align-self: center;
}

.nav {
  float: top;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
}

.nav a {
  color: #1c1a1a;
  text-decoration: none;
}

.card {
  max-width: 900px;
  width: 92%;
  margin: 18px auto;
  padding: 18px;

  border: 1px solid #dee2e6;
  border-radius: 14px;
}
