.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  font-size: 20px;
  align-items: center;
  list-style-type: none;
  background-color: #a3c4e8; 
  align-self: center;
}

.nav {
  float: top;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
}

.nav a {
  color: #1c1a1a;
  text-decoration: none;
}
h1, h2 {
  text-align: center;
  margin-top: 18px;
}

h2 {
  font-size: 1.1rem;
  color: #6c757d;
}
#question {
  width: min(900px, 92%);
  margin: 30px auto;

  display: grid;
  grid-template-columns: 1fr 1fr; /
  gap: 14px;
}


#question [id^="q_"]:not(.d-none) {
  grid-column: 1 / -1; 
  background: white;
  border-radius: 14px;
  padding: 48px 36px;
  min-height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.10);
}

#question [id^="ans_"]:not(.d-none) {
  background: white;
  border-radius: 12px;
  padding: 18px 16px;
  min-height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.15rem;
  text-align: center;

  cursor: pointer;
  user-select: none;

  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

#question [id^="ans_"]:not(.d-none):hover {
  background-color: #f3f7ff;
}
