<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizLiu: Create</title>
    <link rel='stylesheet' href='../static/css/create.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="navbar">
      <div class='nav'>
        <a href='/'> QuizLiu </a>
      </div>
      <div class="nav">
        <a href='/'> Create </a>
      </div>
      <div class="nav">
        <a href="/profile"> Profile </a>
      </div>
      <div class="nav">
        <a href="/logout"> Log Out </a>
      </div>
    </div>

    <form id="cards">
      <div>
        <h3>Card 1</h3>
        <label for="front_1">Front:</label><br>
        <input type="text" id="front_1" name="front_1"><br>
        <label for="back_1">Back:</label><br>
        <input type="text" id="back_1" name="back_1"><br><br>
        <button type="button" id="add_btn">Add</button>
        <button type="submit">Create</button>
      </div>
    </form>
  </body>
  <script src="../static/js/create.js"></script>
</html>
