<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizLiu: Quiz!</title>
    <link rel='stylesheet' href='../static/css/quiz.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body onload="generate_q()">
<div class="navbar">
  <div class='nav'>
    <a href='/'> QuizLiu </a>
  </div>
  <div class="nav">
    <a href='/'> Create </a>
  </div>
  <div class="nav">
    <a href="/profile"> Profile </a>
  </div>
  <div class="nav">
    <a href="/logout"> Log Out </a>
  </div>
</div>
  <h1>{{ title }}</h1>
  <h2>{{ creator }}</h2>

  <div>
    <form method="POST" data-num_cards="{{ flashcards|length }}" id="question">
      {% for i in range(flashcards|length) %}
      <div id="q_{{ i }}" class="d-none">
        {{ flashcards[i][0] }}
      </div>
      {% endfor %}
      {% for i in range(flashcards|length) %}
      <div onclick="check_ans({{ i | tojson }})" id="ans_{{ i }}" class="d-none">
        {{ flashcards[i][1] }}
      </div>
      {% endfor %}
    </form>
  </div>
  </body>
  <script src="../static/js/quiz.js"></script>
</html>
